
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-base: 16px;
  
    /* Colors */
    --color-white: #fff;
    --color-gainsboro: #d9d9d9;
    --color-black: #000;
  
    /* Paddings */
    /* --padding-40xl: 59px;
    --padding-10xl: 29px;
    --padding-4xl: 23px;
    --padding-xs: 12px;
    --padding-xl: 20px;
    --padding-smi: 13px;
    --padding-8xl: 27px; */
  }
  