/* 2FA.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    justify-content: center;
    align-items: center;
    width: 50%; 
    padding: 20px; 
    background-color: #fff;
    border-radius: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 0;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px; 
    height: auto; 
}

h1 {
    color: #333;
    font-size: 75px; 
    margin-bottom: 30px; 
}

p {
    color: #666;
    margin-bottom: 30px; 
    font-size: 30px;
}

input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 20px; 
    margin-bottom: 30px; 
    border: 2px solid #ccc;
    border-radius: 20px; 
    box-sizing: border-box;
    font-size: 20px;
}

button {
    padding: 20px 40px; 
    background-color: #c0ff48;
    color: black;
    border-color: #ccc;
    border-radius: 10px; 
    cursor: pointer;
    font-size: 30px; 
}

button:hover {
    background-color: white;
}

.error-message {
    color: #ff0000;
    margin-top: 30px;
    font-size: 18px; 
}

#resendMessage {
    margin-top: 40px; 
    font-size: 30px; 
}

#resendMessage a {
    color: #c0ff48;
    text-decoration: none;
}

#resendMessage a:hover {
    text-decoration: underline;
}