*{
    font-family: "Inter", sans-serif;
}
.container{
    display: grid;
    grid-template-areas: 
    'aside header header logo'
    'aside form form logo'
    'aside form form logo'
    'aside footer footer logo';
    grid-template-columns: 100px 40% 40% 5%;

    gap: 4rem;    
}

body{
    margin-right: 3rem;
}


aside{
    grid-area: aside;
    background-color:#c0ff48;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
}


header{
    grid-area: logo;
    margin-top: 1rem;
    margin-left: 100%;
}

.fdm-logo{
    grid-area: logo;
    right: 100%;
    height: 180px;
    width: 260px;
}

.icon{
   width: auto;
   height: 150px;
   max-zoom: 100px;

}
.image-8-icon {
    height: 70px;
    width: 70px;
  } 

.container1 {
    grid-area: form;
    width: 30%;
    height: auto;
    margin: 0 auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.46);

}

h2 {
    text-align: center;
    font-size: 40px;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}

label {
    
    display: block;
    font-weight: bold;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 25px;
}

input[type="date"] {
    width: calc(100% - 50px);
    padding: 20px;
    font-size: 25px;
   
}

button {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: #c0ff48;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid black;
 
}

button:hover {
    background-color: white;
}