*{
  font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-areas: 
    'aside update current ';
    grid-template-columns: 100px 1fr 1fr ;
}

body{
    padding-right: 2rem;
}

.blank{
    grid-area: blank;
}

.blank2{
    grid-area: blank2;
}


aside{
    grid-area: aside;
    background-color:#c0ff48;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 1080px;
}

.update{
    grid-area: update;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current{
    grid-area: current;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}

.gap{
    height: 60px;
}


#assignForm {
    width: 30rem; 
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.46);
    background-color: white;
    border-radius: 5px;
    height:fit-content;
    
  }

  #assignForm2 {
    width: 30rem; 
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.46);
    background-color: lightgray;
    border-radius: 5px;
    height:fit-content;
    
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="tel"],
  input[type="email"]
  {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid black;

  }
  
  /* Styles for submit button */
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#c0ff48;
    color: black;
    cursor: pointer;
    border: 1px solid black;

  }
  
  input[type="submit"]:hover {
    background-color: white;
  }

  .image-8-icon {
    height: 51px;
    width: 50px;
  } 

  .Resources {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    height: 10rem;
    border: 1px solid #ccc;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.46);
    background-color: white;

}

.Progress {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.46);
    background-color: lightgray;
    height: 10rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    display: flex;
    justify-content: center;
}

.current ul {
    list-style: none;
    padding: 0;
}

.current ul li {
    margin-bottom: 10px;
    color: #666;
}

.current ul li strong {
    font-weight: bold;
    color: #333;
}

.sendButton {
    width: 30%;
    height: 5%;
    margin-bottom: 16%;
    display: block;
    display: inline-block;
    padding-left: 10%;
}

.cancelButton {
    display: block;
    display: inline-block;
    width: 30%;
    padding-left: 20%;
}

input[type="reset"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: black;
    cursor: pointer;
  }
  
  input[type="reset"]:hover {
    background-color: gray;
  }

textarea {
    width: 100%;
    height: 60%;
}